# Игнорируем виртуальное окружение
.venv/
.venv1/

# Python
__pycache__/
*.pyc

# Секретные ключи и сертификаты
*.pem
all_test/certs/

# Картинки и медиа
*.jpg
*.png

# IDE
.idea/
*.iml